
:root {
    --background: #222;
    --text: #fff;
}
window {
    padding: 20px;
    border-radius: 10px;
    background: var(--background);
    color: var(--text);
}

#title {
    font-size: 1.5em;
}
#body {
    font-size: 15px;
    line-height: 200%;
    font-family: monospace;
}
